.about {
  padding-top: 15vh;

  p {
    margin: 1em 0;
    width: 100%;
  }

  h2 {
    text-align: center;
    font-size: 2.5vw;
    font-family: "Poppins", sans-serif;
    padding-bottom: 15vh;
  }


  .about-info {
    border-top: 2px #2b2b2b solid;
    border-bottom: 2px #2b2b2b solid;
    user-select: none;
  }

  .about-info:first-child {
    border-bottom: 0;
  }

  .about-info:last-child {
    border-top: 0;
  }
}
