.about {
  padding: 2em 0;
  width: 100%;
  height: 100%;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border: solid whitesmoke;
  border-right: none;
  border-left: none;
  text-decoration: none;

  h2 {
    text-align: center;
    padding-bottom: 1em;
  }

  .icons {
    width: 100%;
    height: auto;
    text-align: center;

    a {
      color: #FCFCFC;
      margin: 0 0.5em;
    }

    i {
      &:hover {
        color: #EBCB8B;
        transition: all .2s ease-in;
        cursor: pointer;
      }
    }
  }
}
