.home {
  border-bottom: 2px #555555 solid;

  .header-text {
    padding-bottom: 1em;
    font-size: 120px;
    text-align: center;
    font-weight: 700;
  }

  .about-text {
    width: 100%;
    font-size: .8em;
    padding-bottom: 0.6em;
  }

  .myself {
    display: grid;
    grid-template-areas: "description image";
    position: relative;
    margin-top: 2em;
  }


  .description {
    grid-template: "description";
    position: relative;

    .me {
      position: absolute;
      top: calc(50% - 1em);
    }
  }

  .image {
    grid-template: "image";
    text-align: center;
  }

  .more-info {
    position: relative;
    text-align: left;
    display: grid;
    grid-template-areas: "touch booking";
    margin: 5em 0;

    .touch {
      grid-template: "touch";
      position: relative;

      p {
        text-align: center;
      }
    }

    .book {
      grid-template: "booking";

      p {
        text-align: center;
      }
    }
  }
}
