.home {
  border-bottom: 2px #555555 solid;

  .header-text {
    padding-bottom: 20vh;
    font-size: 120px;
    text-align: center;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }

  .about-text {
    width: 100%;
    font-size: 4vh;
    padding-bottom: 0.6em;
    text-align: center;
  }

  .myself {
    display: grid;
    grid-template-areas: "description image";
    position: relative;
    margin-top: 27vh;
  }


  .description {
    grid-template: "description";
    position: relative;

    .me {
      top: calc(50% - 1em);
      width: 65%;
    }
  }

  .image {
    grid-template: "image";
    text-align: center;
  }

  .more-info {
    position: relative;
    text-align: left;
    display: grid;
    margin: 5em 0;

    .touch {

      h2 {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: 8vh;
      }
    }

  }
}
