.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: #111;
  font-size: .6em;
  position: sticky;

  .logo {
    color: #FCFCFC;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 10px 15px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      color: #FCFCFC;
      cursor: pointer;

      &:hover {
        background-color: #4C566A;
        background-color: rgba(76, 86, 106, .2);
        transition: all .2s ease-in;
        color: #B48EAD;
        border-radius: 5px;
      }
    }

  }
}

@media (max-width: 800px) {
  .header {
    font-size: .4em;
  }
  .option {
    font-size: .8em;
    padding: 5px 5px;
  }
}

@media (max-width: 600px) {
  .header {
    font-size: .3em;
  }
  .option {
    font-size: .4em;
    padding: 5px 5px;
  }
}
