.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background: linear-gradient(180deg,
          #111, rgba(17, 17, 17, 0));
  font-size: .6em;
  position: sticky;
  top: 0;
  z-index: 50000;

  .logo {
    color: #FCFCFC;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 10px 15px;
    opacity: 1 !important;
  }

  .options {
    width: 50%;
    height: 100%;
    position: absolute;
    display: grid;
    left: 48.66667vw;
    align-items: center;
    justify-content: flex-end;
    opacity: 1 !important;

    .option {
      padding: 10px 15px;
      color: #FCFCFC;
      cursor: pointer;
      text-align: center;


      &:hover {
        transition: all .3s ease-in;
        color: #FBDB65;
        border-radius: 5px;
      }
    }

  }
}

.h-gradient {

}

@media (max-width: 800px) {
  .header {
    font-size: .4em;
  }
  .option {
    font-size: .8em;
    padding: 5px 5px;
  }
}

@media (max-width: 600px) {
  .header {
    font-size: .3em;
  }
  .option {
    font-size: .4em;
    padding: 5px 5px;
  }
}
