.contact-form {
  position: relative;
  display: block;
  width: calc(66.66667vw + 20px);
  padding-top: 100px;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;

  .text-field > label {
    color: #FBDB65;
  }

  .text-field > .MuiInput-underline:after {
    border-bottom: 1px solid #FBDB65;
  }

  .text-field > .MuiInput-underline:before {
    border-bottom: 1px solid #FCFCFC;
  }

  .text-field > .MuiInputBase-root {
    color: #FCFCFC;
  }

  form {
    display: block;
    position: relative;

    .text-field {
      margin-left: 2vw;
    }

    .btn-submit {
      background: #FBDB65;
      color: #111;
      margin-bottom: 33vh;

      &:hover {
        color: #FCFCFC;
        background: #d2a914;
        transition: all 0.6s ease;
      }
    }
  }

}
