footer {
  display: block;

  .footer-content {
    color: #FCFCFC;
    position: relative;
    width: 91.66667vw;
    left: 4.16667vw;
    background-color: #111111;
    //border-top: 8px solid #FCFCFC;
    //border-bottom: 2px solid #FCFCFC;
    height: 12vh;
    display: inline-flex;
    align-items: center;

    p {
      color: #FCFCFC;
      font-size: 20px;
      opacity: .6;
    }

    .content {
      width: 100%;
      text-align: center;
    }
  }
}
