.showcase {
  position: relative;

  img {
    display: block;
    width: 400px;
    height: 200px;
    margin-left: 7em;
  }

  .work-content {
    overflow: hidden;
    height: 22vh;
    width: 25vw;
    h3 {
      font-family: "Poppins", sans-serif;
      font-size: 1em;
    }
    p {
    }
  }

  .p-hidden {
    font-size: 20px;
    width: 50%;
    float: right;
    position: relative;
  }
}
