* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none !important;
}

html {
  /* scrollbar */

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #111;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FCFCFC;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body {
  background-color: #111;
  font-family: "Fira Code", sans-serif;
  font-size: 1.8em;
  color: #FCFCFC;

  ::selection {
    background: #A8D8FF;
  }
}
