.accordion__section {

  .accordion-description {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.7s ease-in-out;

    &.active {
      max-height: 10em;
    }
  }

  .accordion-header {
    padding: 60px 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    h3 {
      width: 100%;
      text-align: center;
      font-size: 2em;
      font-weight: 600;

      &.active {
        color: #FBDB65;;
      }
    }
  }

  .accordion-header:hover {
    background-color: #2b2b2b;
    transition: background-color 0.9s ease;
  }

  .rotate {
    transform: rotate(-180deg);
    transition:0.6s ease;
    color: #FBDB65;
  }

  .reverse-rotate {
    transform: rotate(0deg);
    transition:0.6s ease;
    color: #FCFCFC;
  }

  .expanded {

  }
}
