.accordion__section {

  .active {
    display: initial !important;
    transition: max-height 0.6s ease;
    overflow: hidden;
  }

  .accordion-description {
    display: none;
  }

  .accordion-header {
    padding: 60px 30px;
    cursor: pointer;
    display: -webkit-flex;
    //display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    z-index: 2;

    h3 {
      width: 100%;
      text-align: center;
      //padding-right: 10%;
      font-size: 2em;
      font-weight: 600;
    }
  }

  .accordion-header:hover {
    background-color: #2b2b2b;
    transition: background-color 0.9s ease;
  }

  .rotate {
    transform: rotate(180deg);
    transition:0.6s ease;
  }
}
